
/* Global */

* {
    margin: 0;
    padding: 0;
    /* color: white; */
}

body {
    font-family: 'Alata', sans-serif;
    background-color: black;
    
}
/* declaring a color variable */
:root {
    --primary: rgb(243, 209, 17);
    --trial: #dedede;
}

html{
    font-size: 62.5%;
}


/* utilities */
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    margin-top: 1rem;
    /* margin-bottom: 1rem; */
    background-color: white;
}

/* smaller view for window! Like cell phone */
/* this is hi */
@media(min-width:768px){
        .icons{
            display: flex;
        }
        .icons p, .icons i {
            margin-right: .5rem;
        }
        .icons p{
            font-size: 1.6rem;
        }
        .icons p, .icons .fa-search {
            /* display: none; */
            display: block;
        }
        .fa-angle-double-down{
            display: none;
        }
}

nav .logo{
    /* width: 10rem; */
    height: 3rem;
}

nav .icon i{
    font-size: 1.6rem;
    margin-right: 1rem;
    padding: .5rem 1 rem .5rem 0;
    border-right: .5px solid var(--trial);
}

/* cell/smaller view styling */
@media(min-width: 768px){
    nav .icon i{
        border-right: none;
    }
}

nav .icons i:last-child{
    border: none;
}

header {
    background-color: black;
    color: white;
    padding: 4rem;
    
}

header h2{
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    word-spacing: 1rem;
    letter-spacing: .5rem;
}

/* Cell/small screen styling */
@media(min-width: 768px){
    header h2{
        font-size: 5rem;
}

header p{
    text-align: center;
    font-size: 1.8rem;
}

/* Homework: find Geo Yellow */
header p strong {
    font-weight: 400;
    border-bottom: 3px solid var(--primary);
}

header p strong:hover {
    background-color: var(--primary);
    color: black;

    /* changes the arrow!!! */
    cursor: pointer;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line{
    margin: 3rem 0 5rem 0;
    text-align: center;
    width: 5rem;
    border-bottom: 3px solid var(--primary);

}
.main-news{

    /* Parent/containter Parents always need to be 'relative'. THEN children should have 'absolute' 
    see the '.text' */
    position: relative;
}
.main-news img{
    width: 100%;
    height: 40rem;
}

.main-news .text h4{
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: .5rem;
}
.main-news .text p{
    
    font-size: 3.5rem;
    color: white;
    text-align: left;

}

.text{

    /* this is the child to main-news position */
    position: absolute;
    top: 15rem;
    left: .5rem;
    height: 100%;
    width: 95%;
}

.text .read-icon{
    display: flex;
    justify-content: flex-start;
}
.text .read-icon i{
    margin-top: .5rem;
    font-size: 1.6rem;
}
.text .read-icon p{
    font-size: 1.8rem;
    margin-left: 1rem;
}

.main-news:hover{
    transform: scale(1.05);
}

/* Lower Main-line News Stylings Homework */
.subNews:hover{
    transform: scale(1.05)
}
.subNews img{
    /* width: 100%;
    height: 40rem;
    margin-bottom: -.3rem; */

    width: 50rem;
    height: 30rem;
}
/* homework make look good.  */
@media(min-width: 768px){
    .subNews img{
        /* width: 100%;
        height: 40rem;
        margin-bottom: -.3rem; */
        width: 30rem;
        height: 30rem;
    }
}
.subNews .textSub{
    padding: 1rem;
    background-color: white;
    border-top: 6px solid var(--primary);
    color: black;
}

@media(min-width: 768px){
    .subNews .textSub{
        /* padding: 1rem;
        background-color: white;
        border-top: 6px solid var(--primary);
        color: black; */

        height: 20rem;
        width: 30rem;
    }
}
.subNews .textSub h4{  
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 1rem;
}
.subNews .textSub p{
    text-align: left;
    font-size: 2.5rem;
    margin: 1.5rem 0 1.2rem 0;
}
.textSub .read-icons{
    display: flex;
    justify-content: flex-start;
}
.textSub .read-icons i{  
    font-size: 1.6rem;
}
.textSub .read-icons p{
    font-size: 1.5rem;
    margin-left: 1rem;
    letter-spacing: .3rem;
}
/* Today's Pics */
.todays-picks h3{
    font-size: 2.1rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    border-left: 3px solid var(--primary);
    padding-left: 2rem;
}
.flex-container-picks{
    display: flex;
    margin-top: 2rem;
    width: 100%;
}
div.picks-img {
    width: 12rem;
    height: 10rem;
}
div.picks-img img{
    width: 100%;
}
div.picks-text{
    padding-left: 1.5rem;
}
div.picks-text h4 {
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    
}
div.picks-text p {
    font-family: 1.4rem;
    font-weight: 400;
     text-align: left;
}
@media(min-width: 768px){
    .header-container{
        display: flex;
        flex-direction: row-reverse;
    }
    .second-level-news{
        display: flex;
    }
    .todays-picks{
        margin-left: 20rem;
    }
    .flex-container-picks{
        width: 50rem;
    }
    .second-column{
        width: 70rem;
    }

}
}